#Visual C++ files
/ipch
/Release
/FastCraft/LineCounter.au3
*.sdf
*.suo
*.opensdf
*.exp
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

#Build output
*.exe
*.dll
*.ilk
*.pdb
*.tlog
*.obj
*.manifest
*.log
*.rc
*.lastbuildstate
*.idb
*.res

#Other stuff
/Docs
/Mindmaps
fastcraft.properties